{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% block header %} 
        
        {% endblock %}
        {% block content %}{% endblock %}
            </div>
            <div id="sidebar">
            <h2>My blog</h2>
            <p>This is my blog.</p>
            </div>
        {% block footer %}{% endblock %}
      </div>



</body>
</html>